* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}


.bg {
  height: 100vh;
  background: linear-gradient(to right, #fcfcfc, #ffadc0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 600px;
  height: 700px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.img {
  width: 400px;
  margin: 15px 0;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  
}

.btn {
  position: relative;
  height: 50px;
  width: 400px;
  padding: 12px;
  top: 10px;
  margin-top: 20px;
  border: none;
  background: #ff5f6d;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.chat-box {
  display: flex;
  flex-direction: column-reverse; /* newest message top එකට */
  background: #f4f4f4;
  margin: 20px;
  border-radius: 15px;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.4),
              inset 0 -3px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
  overflow-y: auto;
  height: 800px; /* chat box height */
  
  

}



.input-area {
  display: flex;
  padding: 15px;
  gap: 10px;
}

.input-area input {
  flex: 1;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

.send-btn {
  padding: 10px 20px;
  background: #ff5f6d;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.message-user {
  display: inline-block;   /* shrink to fit text */
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 15px;
  font-size: 14px;
  word-wrap: break-word;   /* long text wraps */
  background: #ff5f6d;
  color: white;
  margin-right: auto;       /* right side bubble */
  max-width: 20%;          /* optional, or remove to shrink fully */
}

.user {
  background: #ff5f6d;
  color: white;
  margin-left: auto; /* right side */
}